body{
  font-family: 'Helvetica';
  background-color: #4287f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #3a5ec5;
  background-color: #fffbfb;
}

#mario-chat{
  margin: 30px auto;
  border-radius: 10px;
  width: 600px;

}

#chat-window{
  height: 400px;
  overflow: auto;
  background: #fffbfb;
}
.block::after{
  content: "";
  display: block;
  background: var(--block-shadow-color);
  border: 3px solid var(--block-text-color);
  border-radius: 3px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 3px;
  left: 0px;
  right: 0px;
  z-index: -2;
  transition: transform 0.2s ease 0s;
}
#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: #575ed8;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
